.container{
    /*background-color: rgb(248, 168, 114);
    background-image: url(https://4.imimg.com/data4/VP/TF/GLADMIN-16670653/11-500x500.png);
    background-image: url(https://scx2.b-cdn.net/gfx/news/2019/toomanyairpl.jpg);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-umpUam6c7vfVJkqjxNVpIqlWYF0CPPcdaQ&usqp=CAU);*/
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxYna4zJ6DnSTlvwz8erSk7QSESz4L8ub_ew&usqp=CAU);
    background-repeat: no-repeat;
    
    background-size: 100%;
}

